<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header class="p-0">
		  <div th:insert="~{common/header :: header}"></div>
		<h1 class="abs_header"style="font-size: 1.85em; top: 25px;">
		</h1>
	</header>
<body>
<center>
    <h1>Logout Successful</h1>
    <p> Dear <span th:text="${#authentication.principal.username}"></span> have been logged out successfully.</p>
    <p>Click <a th:href="@{/login}">here</a> to go to the login page.</p>
    </center>
</body>


<footer>
<div th:insert="~{common/footer :: footer}"></div>
</footer>
</html>
