<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/header :: head}">
</div>
<title>AIIMS - Admin Dashboard</title>

<body>
	<div class="d-flex flex-column min-vh-100">
		<div th:replace="~{common/header :: header}"></div>
		<main class="cus-drawers">
			<div class="main-content mt-4 mb-4">
				<div class="d_card">
					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-body">
									<p class="card-text">Total No. of Doctors</p>
									<h3 class="card-title" th:text="${doctorsCount}"></h3>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card">
								<div class="card-body">
									<p class="card-text">Total No. of Active Doctors</p>
									<h3 class="card-title" th:text="${activeDoctorsCount}"></h3>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card">
								<div class="card-body">
									<p class="card-text">Total No. of Health Care Providers</p>
									<h3 class="card-title" th:text="${healthCareProvidersCount}"></h3>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card">
								<div class="card-body">
									<p class="card-text">Total No. of Active Health Care
										Providers</p>
									<h3 class="card-title" th:text="${activeHealthCareProvidersCount}"></h3>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card">
								<div class="card-body">
									<p class="card-text">Total No. of Patients</p>
									<h3 class="card-title" th:text="${patientsCount}"></h3>
								</div>
							</div>
						</div>
						<!-- break -->

					</div>
				</div>
			</div>
		</main>

		<footer class="mt-auto">
			<div th:replace="~{common/footer :: footer}"></div>
		</footer>
    </div>


</body>
</html>